@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-body), sans-serif;
    background-color: #ffffff;
    color: #0F1A2E;
  }
}